<!-- 
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <script src='//192.168.1.7:8080/socket.io/socket.io.js'></script>
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/live-car-diagnostics.png">
  <link rel="icon" type="image/png" href="/assets/img/live-car-diagnostics.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Live Diagnostics OTA | Diagnose
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="/assets2/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="/assets2/demo/demo.css" rel="stylesheet" /> -->
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="/" class="simple-text logo-normal">
          Makers
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" href="/auth/dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/auth/services">
              <i class="material-icons">content_paste</i>
              <p>Services List</p>
            </a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" href="/auth/diagnose">
              <i class="material-icons">bug_report</i>
              <p>Diagnose</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/auth/upload">
              <i class="material-icons">code</i>
              <p>Code Uploads</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./map.html">
              <i class="material-icons">location_ons</i>
              <p>Maps</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          <!-- <li class="nav-item active-pro ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Upgrade to PRO</p>
                </a>
            </li> -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Diagnose</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Material Dashboard Heading</h4>
              <p class="card-category">Created using Roboto Font Family</p>
            </div>
            <div class="card-body">
              <div id="typography">
                <!-- <div class="card-title" id = "hello"> -->
                <form class="message-form">
                  <!-- Dropdown menu for Service selction -->
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="lead">     Connection status :</p>
                    </div>
                    <div class="col-sm-6" id = "#status">
                     <h4 class="text-warning" id = "status">Connecting ....</h4>
                    </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class = "col-sm-3" ,id='pantsLanding'>
                      <p class="lead">Select UDS Service :</p>
                      <p class="lead">
                        <!-- Split button -->
                        <div class="btn-group">
                          <button type="button" class="btn btn-default">Service</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul id="dropPants" class="dropdown-menu scrollable-menu" role="menu">
                          </ul>
                        </div>
                      </p>
                    </div>
                    <div class="col-sm-6" id = "#service">
                      <h4 class="text-primary" id = "service"></h4>
                    </div>
                  </div>

                  <!-- Dropdown menu for Subfucntion selection -->
                  <div class="row">
                    <div class = "col-sm-3",id='pantStyleDiv'>
                      <p class="lead">Select Subfuction :</p>
                      <p class="lead">
                        <!-- Split button -->
                        <div class="btn-group">
                          <button type="button" class="btn btn-default">Subfunction</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul id="dropPantStyle" class="dropdown-menu scrollable-menu" role="menu">
                          </ul>
                        </div>
                      </p>
                    </div>  
                    <div class="col-sm-6" id = "#subfunction">
                      <h4 class="text-primary" id = "subfunction"></h4>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Paramters</label>
                      <input id= "parameters" type="text" class="form-control">
                    </div>
                  <!-- Terminal  -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <h3>Terminal</h3>
                        <div class="form-group">
                          <div class="col-sm-12" id = "#terminal">
                            <h4 class="text-success" id = "terminal"> ..... </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button" id = "myBtn" class="btn btn-primary btn-success pull-right">
                    <i class="material-icons">send</i> Send</button>
                  <div class="clearfix"></div> 
                  
                </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        const x = new Date().getFullYear();
        let date = document.getElementById('date');
        date.innerHTML = '&copy; ' + x + date.innerHTML;
      </script>
    </div>
  </div>
  
  <!--   Core JS Files   -->
  <script src="/assets2/js/core/jquery.min.js"></script>
  <script src="/assets2/js/core/popper.min.js"></script>
  <script src="/assets2/js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="/assets2/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="/assets2/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/assets2/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets2/js/material-dashboard.js?v=2.1.0"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="/assets2/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      var Service;
      var Subfucntion;
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
        // Dropdowns for function and subfunction Selection
        var Services = ['Service1','Service2','Service3','Service4','Service5'
                        ,'Service6','Service7','Service8','Service9'];
        var Subfunctions = { 'Service1': ['sub1_1','sub1_2'],
                            'Service2': ['sub2_1','sub2_2'],
                            'Service3': ['sub3_1','sub3_2'],
                            'Service4': ['sub4_1','sub4_2'],
                            'Service5': ['sub5_1','sub5_2'],
                            'Service6': ['sub6_1','sub6_2'],
                            'Service7': ['sub7_1','sub7_2'],
                            'Service8': ['sub8_1','sub8_2'],
                            'Service9': ['sub9_1','sub9_2'],
                          };

        $.each(Services, function(i) {
          $('#dropPants').append('<li><a href="#">'+Services[i]+'</a></li>');
        });

        $('#dropPants').on('click', 'li a', function() {
          $('#dropPantStyle').html('');
          Service = $(this).text();
          $('#service').text(Service);
          console.log(Service);
          var showStyles = Subfunctions[$(this).text()];
          $.each(showStyles, function(i) {
            $('#dropPantStyle').append('<li><a href="#">'+showStyles[i]+'</a></li>');
          });   
        });
        $('#dropPantStyle').on('click', 'li a', function() {
          Subfucntion = $(this).text();
          $("#subfunction").text(Subfucntion);
          console.log(Subfucntion);
        });
      });
      // websocket handling
      var socket = io.connect('//192.168.1.7:8080');
      socket.on('he5a', function(data) {
                console.log(data);
                // $('#hello').append('<li>' + data.message + '</li>');
                $("#terminal").text(data.message);
                console.log($("#terminal"));
            });
      socket.on("connected",function(data){
        $("#status").html('');
        $("#status").append('<h4 class="text-success" id = "status">Connected</h4>');
      });
      socket.on("notConnected",function(data){
        $("#status").html('');
        $("#status").append('<h4 class="text-danger" id = "status">Not Connected</h4>');
      });
      $("#myBtn").click(function(){
        var parameters = $('#parameters').val();
        console.log("service selected is : ",Service);
        console.log("subfunction selected is : ",Subfucntion);
        console.log("parameters :",parameters)
        // var str = $("#user-message").val();
        // console.log(str);
         socket.emit('diagnose' ,{message: Service.concat(' ',Subfucntion,' ',parameters)});
    });

    });
  </script>
</body>

</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/Socketscript.js"></script>