<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/live-car-diagnostics.png">
  <link rel="icon" type="image/png" href="/assets/img/live-car-diagnostics.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Live Diagnostics OTA | Services
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="/assets2/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets2/demo/demo.css" rel="stylesheet" />
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" >
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="/" class="simple-text logo-normal">
          Makers
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" href="/auth/dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" href="/auth/services">
              <i class="material-icons">content_paste</i>
              <p>Services List</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/auth/diagnose">
              <i class="material-icons">bug_report</i>
              <p>Diagnose</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/auth/upload">
              <i class="material-icons">code</i>
              <p>Code Uploads</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./map.html">
              <i class="material-icons">location_ons</i>
              <p>Maps</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Services list</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Services Table</h4>
                  <p class="card-category"> Here is a table of supported UDS services (version 2006)</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class=" text-primary">
                        <th class="text-primary">
                          SID
                        </th>
                        <th class="text-primary">
                          Name
                        </th>
                        <th class="text-primary">
                          State
                        </th>
                        <th class="text-primary">
                          Discription
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            0x10
                          </td>
                          <td>
                            DiagnosticSessionControl
                          </td>
                          <td class="text-success">
                            Implemented
                          </td>
                          <td>
                            The DiagnosticSessionControl service is used to enable different diagnostic sessions in the server(s)
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            0x11
                          </td>
                          <td>
                            ECUReset
                          </td>
                          <td class="text-success">
                            Implemented
                          </td>
                          <td>
                            The ECUReset service is used by the client to request a server reset.
                          </td>
                        
                        </tr>
                        <tr>
                          <td>
                            0x27
                          </td>
                          <td>
                            SecurityAccess
                          </td>
                          <td class="text-success">
                            Implemented
                          </td>
                          <td>
                            The purpose of this service is to provide a means to access data and/or diagnostic services which <br> have
                            restricted access for security.
                          </td>
                     
                        </tr>
                        <tr>
                          <td>
                            0x28
                          </td>
                          <td>
                            CommunicationControl
                          </td>
                          <td class="text-danger">
                            Not implemented
                          </td>
                          <td>
                            The purpose of this service is to switch on/off the transmission and/or the reception of certain <br> messages of (a)
                            server(s).
                          </td>
          
                        </tr>
                        <tr>
                          <td>
                            0x3E
                          </td>
                          <td>
                            TesterPresent 
                          </td>
                          <td class="text-success">
                            Implemented
                          </td>
                          <td>
                            This service is used to indicate to a server (or servers) that a client is still connected to the <br> vehicle and that
                            certain diagnostic services and/or communications that have been previously <br> activated are to remain active.
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            0x83
                          </td>
                          <td>
                            AccessTimingParameter
                          </td>
                          <td class="text-danger">
                            Not implemented
                          </td>
                          <td>
                            The AccessTimingParameter service is used to read and change the default timing parameters <br> of a 
                            communication link for the duration that this communication link is active.
                          </td>
                         
                        </tr>
                        <tr>
                          <td>
                            0x84
                          </td>
                          <td>
                            SecuredDataTransmission
                          </td>
                          <td class="text-danger">
                            Not implemented
                          </td>
                          <td>
                            The purpose of this service is to transmit data that is protected against attacks from <br> third parties, which could
                            endanger data security
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            0x85
                          </td>
                          <td>
                            ControlDTCSetting
                          </td>
                          <td class="text-danger">
                            Not implemented
                          </td>
                          <td>
                            The ControlDTCSetting service shall be used by a client to stop or resume the setting <br>of diagnostic trouble
                            codes (DTCs) in the server(s).
                          </td>
                         
                        </tr>
                        <tr>
                          <td >
                            0x86
                          </td>
                          <td>
                            ResponseOnEvent
                          </td>
                          <td class="text-danger">
                            Not implemented
                          </td>
                          <td>
                            The ResponseOnEvent service requests a server to start or stop transmission of responses <br> on a specified
                            event.
                          </td>
                         
                        </tr>
                        <tr>
                          <td>
                            0x87
                          </td>
                          <td>
                            LinkControl
                          </td>
                          <td class="text-danger">
                            Not implemented
                          </td>
                          <td>
                            The LinkControl service is used to control the communication link baud rate between the <br> client and the
                            server(s) for the exchange of diagnostic data. 
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            0x22
                          </td>
                          <td>
                            ReadDataByIdentifier
                          </td>
                          <td class="text-success">
                            Implemented
                          </td>
                          <td>
                            The ReadDataByIdentifier service allows the client to request data record values from <br> the server identified by
                            one or more dataIdentifiers.
                          </td>
                         
                        </tr>
                        <tr>
                          <td>
                            0x23
                          </td>
                          <td>
                            ReadMemoryByAddress
                          </td>
                          <td class="text-danger">
                            Not implemented
                          </td>
                          <td>
                            The ReadMemoryByAddress service allows the client to request memory data from the server <br> via a provided
                            starting address and to specify the size of memory to be read.
                          </td>
                         
                        </tr>
                        <tr>
                          <td>
                            0x24
                          </td>
                          <td>
                            ReadScalingDataByIdentifier
                          </td>
                          <td class="text-danger">
                            Not implemented
                          </td>
                          <td>
                            The ReadScalingDataByIdentifier service allows the client to request scaling data record <br> information from the
                            server identified by a dataIdentifier.
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            0x2A
                          </td>
                          <td>
                            ReadDataByPeriodicIdentifier
                          </td>
                          <td class="text-danger">
                            Not implemented
                          </td>
                          <td>
                            The ReadDataByPeriodicIdentifier service allows the client to request the periodic transmission<br> of data record
                            values from the server identified by one or more periodicDataIdentifiers.
                          </td>
                         
                        </tr>
                        <tr>
                          <td>
                            0x2C
                          </td>
                          <td>
                            DynamicallyDefineDataIdentifier
                          </td>
                          <td class="text-danger">
                            Not implemented
                          </td>
                          <td>
                            The DynamicallyDefineDataIdentifier service allows the client to dynamically define in a server<br> a data identifier
                            that can be read via the ReadDataByIdentifier service at a later time.
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            0x2E
                          </td>
                          <td>
                            WriteDataByIdentifier
                          </td>
                          <td class="text-success">
                            Implemented
                          </td>
                          <td>
                            The WriteDataByIdentifier service allows the client to write information into the server at an<br> internal location
                            specified by the provided data identifier.
                          </td>
                         
                        </tr>
                        <tr>
                          <td>
                            0x3D
                          </td>
                          <td>
                            WriteMemoryByAddress 
                          </td>
                          <td class="text-danger">
                            Not implemented
                          </td>
                          <td>
                            The WriteMemoryByAddress service allows the client to write information into the server at one<br> or more
                            contiguous memory locations.
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            0x14
                          </td>
                          <td>
                            ClearDiagnosticInformation
                          </td>
                          <td class="text-success">
                            Implemented
                          </td>
                          <td>
                            The ClearDiagnosticInformation service is used by the client to clear diagnostic information<br> in one server's or
                            multiple servers’ memory.
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            0x19
                          </td>
                          <td>
                            ReadDTCInformation
                          </td>
                          <td class="text-success">
                            Implemented
                          </td>
                          <td>
                            This service allows a client to read the status of server-resident Diagnostic Trouble Code (DTC)<br> information
                            from any server or group of servers within a vehicle.
                          </td>
                         
                        </tr>
                        <tr>
                          <td>
                            0x2F
                          </td>
                          <td>
                            InputOutputControlByIdentifier
                          </td>
                          <td class="text-success">
                            Implemented
                          </td>
                          <td>
                            The InputOutputControlByIdentifier service is used by the client to substitute a value for an <br> input signal,
                            internal server function and/or control an output (actuator) of an electronic system.
                          </td>
                         
                        </tr>
                        <tr>
                          <td>
                            0x31
                          </td>
                          <td>
                            RoutineControl 
                          </td>
                          <td class="text-danger">
                            Not implemented
                          </td>
                          <td>
                            The RoutineControl service is used by the client to<br>
                            ⎯ start a routine,<br>
                            ⎯ stop a routine, and<br>
                            ⎯ request routine results.
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            0x34
                          </td>
                          <td>
                            RequestDownload 
                          </td>
                          <td class="text-success">
                            Implemented
                          </td>
                          <td>
                            The requestDownload service is used by the client to initiate a data transfer from the <br> client to the server
                            (download).
                          </td>
                         
                        </tr>
                        <tr>
                          <td>
                            0x35
                          </td>
                          <td>
                            RequestUpload
                          </td>
                          <td class="text-danger">
                            Not implemented
                          </td>
                          <td>
                            The RequestUpload service is used by the client to initiate a data transfer from the <br>server to the client (upload).
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            0x36
                          </td>
                          <td>
                            TransferData
                          </td>
                          <td class="text-success">
                            Implemented
                          </td>
                          <td>
                            The TransferData service is used by the client to transfer data either from the <br>client to the server (download)
                            or from the server to the client (upload).
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            0x37
                          </td>
                          <td>
                            RequestTransferExit
                          </td>
                          <td class="text-success">
                            Implemented
                          </td>
                          <td>
                            This service is used by the client to terminate a data transfer between client <br>and server (upload or download)
                          </td>
                         
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      <script>
        const x = new Date().getFullYear();
        let date = document.getElementById('date');
        date.innerHTML = '&copy; ' + x + date.innerHTML;
      </script>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/assets2/js/core/jquery.min.js"></script>
  <script src="/assets2/js/core/popper.min.js"></script>
  <script src="/assets2/js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="/assets2/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="/assets2/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/assets2/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets2/js/material-dashboard.js?v=2.1.0"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="/assets2/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
</body>

</html>